<ion-view sb-page-background
          class="module-skeleton skeleton-view">

    <ion-nav-title>{{ item.title }}</ion-nav-title>

    <ion-content>

        <div ng-if="item"
             class="list">

            <img ng-src="{{ imagePath(item.cover) }}"
                 style="width: 100%; height: auto;" />

            <div class="item item-icon-left item-custom">
                <i class="icon ion-document-text"></i>
                <h2>{{ item.title }}</h2>
            </div>
            <div class="post-content">
                <div class="item item-text-wrap item-description item-custom">
                    {{ item.subtitle }}
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
