<?php
$optionValue = $this->getOptionValue();

$skeleton = (new ModuleSkeleton_Model_Skeleton())
    ->find($optionValue->getId(), "value_id");

// Create the Skeleton if it doesn't yet exists.
if (!$skeleton->getId()) {
    $skeleton = new ModuleSkeleton_Model_Skeleton();
    $skeleton
        ->setValueId($optionValue->getId())
        ->save();
}

$formSkeleton = new ModuleSkeleton_Form_Skeleton();
$formSkeleton->populate($skeleton->getData());


// Building Item form (empty create only form)
$formItem = new ModuleSkeleton_Form_Item();
$formItem->setValueId($optionValue->getId());

// Items fetch
$items = (new ModuleSkeleton_Model_Item())->findAll(
    [
        "value_id = ?" => $optionValue->getId()
    ]
);

$deleteForm = new ModuleSkeleton_Form_Item_Delete();
$deleteForm->setValueId($optionValue->getId());

?>

<div id="list"
     class="skeleton">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs"
        role="tablist">
        <li role="presentation"
            class="active">
            <a href="#items"
               aria-controls="items"
               role="tab"
               data-toggle="tab">
                <i class="fa fa-folder-open-o"></i>
                <?php echo p__("skeleton", "Skeleton items") ?>
            </a>
        </li>
        <li role="presentation">
            <a href="#design"
               aria-controls="design"
               role="tab"
               data-toggle="tab">
                <i class="fa fa-pencil"></i>
                <?php echo p__("skeleton", "Design") ?>
            </a>
        </li>
        <li role="presentation">
            <a href="#skeleton"
               aria-controls="skeleton"
               role="tab"
               data-toggle="tab">
                <i class="fa fa-folder-open-o"></i>
                <?php echo p__("skeleton", "Skeleton settings") ?>
            </a>
        </li>
    </ul>

    <div class="tab-content">

        <!-- START ITEMS TAB -->
        <div role="tabpanel"
             class="tab-pane active"
             id="items">


            <div class="feature-block-add">
                <h3 class="title-editor no-border-radius title-feature-indent">
                    <?php echo p__("skeleton", "Create an item"); ?>
                </h3>
                <div class="container-fluid subcontent content-feature">
                    <?php echo $formItem; ?>
                </div>
            </div>

            <?php if ($items->count() > 0): ?>
                <div class="feature-block-list">
                    <div class="margin-top">
                        <h3 class="title-editor no-border-radius title-feature-indent">
                            <?php echo __("Manage items"); ?>
                            <button type="button" class="toggle_design color-blue pull-right bt-header-right btn feature-toggle-items">
                                <i class="fa fa-angle-down"></i>
                            </button>
                        </h3>
                        <div class="container-fluid first-row-feature content-feature feature-manage-items">
                            <table class="table content-white-bkg sb-pager">
                                <thead>
                                <tr class="border-grey">
                                    <th class="sortable"
                                        style="width:26%;"><?php echo __("Title"); ?></th>
                                    <th class="sortable"
                                        style="width:64%;"><?php echo __("Subtitle"); ?></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php foreach($items as $item) : ?>
                                    <tr id="item_manage_element_<?php echo $item->getId(); ?>"
                                        class="item-manage-element sb-pager">
                                        <td><?php echo $item->getTitle(); ?></td>
                                        <td><?php echo cut(html_entity_decode($item->getSubtitle()), 60); ?></td>
                                        <td class="edit-action open-edit"
                                            data-id="item_<?php echo $item->getId(); ?>"
                                            data-form-url="<?php echo __path("/moduleskeleton/application/load-item-form", [
                                                'item_id' => $item->getId(),
                                                'value_id' => $optionValue->getId()
                                            ]); ?>">
                                            <i class="fa fa-pencil"></i>
                                        </td>
                                        <td class="delete-action">
                                            <?php
                                            $deleteForm->setAttrib('data-rowid', 'item_manage_element_' . $item->getId());
                                            $deleteForm->getElement('item_id')->setValue($item->getId());

                                            echo $deleteForm;
                                            ?>
                                        </td>
                                    </tr>
                                    <tr class="edit-form"
                                        data-id="item_<?php echo $item->getId(); ?>"
                                        style="display: none;">
                                        <td colspan="6">
                                            <p class="close-edit"
                                               data-id="item_<?php echo $item->getId(); ?>">
                                                <i class="fa fa-times"></i><?php echo __("Close") ?>
                                            </p>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            <?php endif; ?>

        </div>
        <!-- /END ITEMS TAB -->

        <!-- START DESIGN TAB -->
        <div role="tabpanel"
             class="tab-pane"
             id="design">
            <?php echo $this->importBackground($optionValue, false, false); ?>
        </div>
        <!-- /END DESIGN TAB -->

        <!-- START SKELETON TAB -->
        <div role="tabpanel"
             class="tab-pane"
             id="skeleton">
            <div class="feature-block-add">
                <h3 class="title-editor no-border-radius title-feature-indent">
                    <?php echo p__("skeleton", "Settings"); ?>
                </h3>
                <div class="container-fluid subcontent content-feature">
                    <?php echo $formSkeleton; ?>
                </div>
            </div>

        </div>
        <!-- /END SKELETON TAB -->

    </div>
</div>


<link href="/app/local/modules/ModuleSkeleton/resources/design/desktop/flat/template/module_skeleton/application/edit.css"
      media="screen"
      rel="stylesheet"
      type="text/css">
<script type="text/javascript">
    var valueId = '<?php echo $optionValue->getId() ?>';
</script>
<script type="text/javascript"
        src="/app/local/modules/ModuleSkeleton/resources/design/desktop/flat/template/module_skeleton/application/edit.js">
</script>