<sb-section title="'<?php echo p__js("skeleton", "Skeleton settings page", "'"); ?>'">

    <form ng-submit="save()">
        <div class="form-group">

            <div class="col-md-12">
                <label for="skeleton_test"><?php echo p__("skeleton", "Test") ?></label>
                <select id="skeleton_test"
                        class="form-control"
                        ng-model="settings.skeleton_test">
                    <option value="all"><?php echo p__("skeleton","All"); ?></option>
                    <option value="none"><?php echo p__("skeleton","None"); ?></option>
                </select>
            </div>

            <br />

            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit"
                            class="btn btn-primary right"><?php echo __("Save"); ?></button>
                    <sb-loader is_visible="form_loader_is_visible"
                               type="'inner_content'"
                               size="'small'"
                               animation="'no'"
                               class="form_loader"></sb-loader>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="clear"></div>

        </div>
    </form>

</sb-section>